doctype html
html(lang="jp")
    head
        //- META INFO OBJECT
        - var metaInfo = {"title":  "SiteTitleSample","description" : "SiteDescription","keywords": "SiteKeywords"};
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //- META INFO
        title= metaInfo.title
        meta(name="description" content=metaInfo.description)
        meta(name="keywords" content=metaInfo.keywords)
        meta(name="og:title" content=metaInfo.title)
        meta(name="og:type" content="website")
        meta(name="og:description" content=metaInfo.title)
        meta(name="og:url" content="")
        meta(name="og:image" content="./assets/img/ogp.jpg")
        //- Optional for Classico Project
        meta(name="twitter:title" content=metaInfo.title)
        meta(name="twitter:title" content=metaInfo.title)
        meta(name="twitter:image" content="./assets/img/ogp.jpg")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="robots" content="max-image-preview:large,max-snippet:200")
        //- Favicon Optional for Classico Project
        link(rel="shortcut icon" href="./assets/img/favicon.ico" type="image/vnd.microsoft.icon")
        link(rel="icon" href="./assets/img/favicon.ico" type="image/vnd.microsoft.icon")
        //- CSS
        link(rel="stylesheet", href="./assets/css/vendor/animate.css")
        link(rel="stylesheet", href="./assets/css/vendor/normalize.css")
        link(rel="stylesheet", href="./assets/css/reset.css")
        link(rel="stylesheet", href="./assets/css/main.css")
        link(rel="stylesheet", href="./assets/css/hacks.css")
        //- SCRIPTS
        script(src="./assets/js/vendor/jquery-3.1.1.min.js")
        script(src="./assets/js/vendor/modernizr-2.8.3.min.js")
    body#top
        header
            nav
        footer
            script(src="https://unpkg.com/ityped@1.0.2")
            script(src="./assets/js/vendor/parallax.min.js")
            script(src="./assets/js/vendor/parallax.js")
            script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
            //- SCROLL MAGIC & GSAP
            script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/debug.addIndicators.min.js")
            script(src="./assets/js/main.js")